---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'PT Serif', Georgia, Times, 'Times New Roman',"Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑", serif;
$base-font-size:   16px;
$code-font-size:   $base-font-size * 0.75  ; //16px*0.75  = 12px
$small-font-size:  $base-font-size * 0.875 ; //16px*0.875 = 14px
$base-line-height: 1.5;

$mono-font-family: "SFMono-Regular", Consolas, Menlo, Monaco, Inconsolata;

$text-color:       hsl(0, 0%, 10%);

$alt-color: #c72323; //Red I like
$alt-color: #025d8c; //Blue I like

$alt-color-darker: darken($alt-color, 6%);
$article-bg-color: darken(white,1%);
$code-bg-color:    darken($article-bg-color, 3%);
$background-color: darken($article-bg-color, 6%);
$bg-color-darker:  darken($article-bg-color, 15%);
$alt-text-color:   darken($article-bg-color, 60%);

$subdued-border:   rgba($bg-color-darker, 0.5);

// for marker 
// $marker-bg-color   : #DEEAF4 ;      // a better blue
// $marker-bg-color   : hsla(345, 86%, 47%, 0.12); //a better red
$marker-bg-color   : rgba(248, 238, 199, 0.75); // a better yellow
$marker-text-color : $text-color;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "syntax-highlighting"
;
