<footer>
  <div class="container">
    <div class="row biography">
      <div class="col-sm-4">
        <h2>who am i</h2>
        <p>{{ site.biography }}</p>
      </div>
      <div class="col-sm-4">
        <h2>what is this</h2>
        <p>{{ site.description }}</p>
      </div>
      <div class="col-sm-4">
        <h2>where am i</h2>
        <div class="who-am-i">
          {% if site.email %}
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
          {% endif %}
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
          {% endif %}
          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
          {% endif %}
          {% if site.linkedin_username %}
            <a href="https://id.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a>
          {% endif %}
          {% if site.facebook_username %}
            <a href="https://www.facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook"></i></a>
          {% endif %}
          {% if site.weixin_username %}
            <a href="weixin://dl/add/{{site.weixin_username}}"><i class="fa fa-weixin"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% if site.colophon %}
    <div class="row copyright">
      <center>{{ site.colophon }}</center>
    </div>
    {% endif %}
  </div>
</footer>
